<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Automated Garments Inspection</title>
  <link rel="stylesheet" href="../static/css/user.css">
</head>
<body>
  <header>
    <div class="logo">
      <img src="../static/img/logo.png" alt="Logo">
      <button><a href="../templates/login.html">Logout</a></button>
    </div> 
  </header>
  <div class="main-container">
    <div class="left-panel">
      <div class="report">
        <h2>Defect Report</h2>
        <p>Defect Name: Hole,Stain</p>
        <p>Number of Defects: 02</p>
        <button id="printReport">Print Report</button>
      </div>
      <div class="defect-images">
        <!-- Defect images will be displayed here -->
        <!-- Use JavaScript to add images dynamically -->
      </div>
    </div>
    <div class="right-panel">
      <div class="camera-screen">
        <img src="{{ url_for('start_camera') }}" alt="Camera Feed" width="400px" height="300px" margin="2% 2% 2% 2%" />
        <!-- <canvas id="canvas" style="display: none;"></canvas> -->
        <div class="camera-buttons">
          <button id="startCamera">Start Camera</button>
          <button id="takeDefectPic">Take Defect Pic</button>
          <button id="resumeCamera">Resume Camera</button>
          <button id="stopCamera">Stop Camera</button>
        
        </div>
      </div>
    </div>
  </div>
  <script src="../static/js/user.js"></script>
  
  <script>
    async function startCamera() {
        try {
            const response = await fetch('/start_camera');
            if (response.ok) {
                console.log('Camera started');
                window.location.reload(); // Refresh the page
                document.getElementById('cameraFeed').src = "{{ url_for('start_camera') }}?" + new Date().getTime();
                // Add a timestamp to the URL to prevent caching
            } else {
                console.error('Failed to start camera');
            }
        } catch (error) {
            console.error('Error starting camera:', error);
        }
    }

    async function stopCamera() {
        try {
            const response = await fetch('/stop_camera');
            if (response.ok) {
                console.log('Camera stopped');
                // Clear the image source to stop displaying the feed
                document.getElementById('cameraFeed').src = "";
            } else {
                console.error('Failed to stop camera');
            }
        } catch (error) {
            console.error('Error stopping camera:', error);
        }
    }

    // Event listeners for buttons
    document.getElementById('startCamera').addEventListener('click', startCamera);
    document.getElementById('stopCamera').addEventListener('click', stopCamera);
</script>
</body>
</html>
